$portfolio-border-width: 3px;
$portfolio-border-position: -10px;
$portfolio-border-position-hover: -20px;



.portfolio{
   &--item{
      @include flex();
      @include transition();
      overflow: hidden;
      padding: 0;
      .portfolio--link{
         height: 100%;
         width: 100%;
         text-decoration: none;
      }
      &__inner{
         @include flex();
         height: 100%;
         width: 100%;
         &:hover {
            .portfolio--title {
               &:before,
               &:after,
               & > :first-child:before,
               & > :first-child:after {
                  margin: -10px;
               }
            }
         }
      }
   }
   &--title{
      text-align: center;
      position: relative;
      padding: 0 20px;
      margin: 30px;
      color: $white !important;
      text-decoration: none !important;
      z-index: 100;
      @include transition();
      h4{
         margin-bottom: 10px;
      }
      h6{
         margin-bottom: 0;
      }
      &:before,
      &:after,
      &>:first-child:before,
      &>:first-child:after {
         position: absolute;
         width: 20px;
         height: 20px;
         border-radius: 1px;
         border-style: solid;
         border-color: #fff;
         content: ' ';
         @include transition;
      }
      &:before {
         top:   $portfolio-border-position;
         left:  $portfolio-border-position;
         border-width: $portfolio-border-width 0 0 $portfolio-border-width;
      }
      
      &:after {
         top:    $portfolio-border-position;
         right:  $portfolio-border-position;
         border-width: $portfolio-border-width $portfolio-border-width 0 0;
      }
      
      &>:first-child:before {
         bottom: $portfolio-border-position;
         right:  $portfolio-border-position;
         border-width: 0 $portfolio-border-width $portfolio-border-width 0;
      }

      &>:first-child:after {
         bottom: $portfolio-border-position;
         left:   $portfolio-border-position;
         border-width: 0 0 $portfolio-border-width $portfolio-border-width;
      }
   }
   &--image{
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
   }
}




.portfolio--filter{
   @include transition();
   -webkit-filter: grayscale(100%) brightness(50%); /* Safari 6.0 - 9.0 */
   filter: grayscale(100%) brightness(50%);
}

.no-filter {
   .portfolio--filter{
      @include transition();
      -webkit-filter: grayscale(0%) ; /* Safari 6.0 - 9.0 */
      filter: grayscale(0%);
   }
}